openapi: 3.2.0
info:
  version: '1.0'
  title: Engage Messaging API
  description: This spec contains details about the Telesign Engage API.
  contact:
    name: Telesign Customer Support Team
    email: support@telesign.com
servers:
- url: https://rest-ww.telesign.com
security:
- Basic: []
tags:
- name: Messaging
paths:
  /v1/omnichannel:
    post:
      responses:
        '200':
          description: "**Success.** Your request was fulfilled and resulted in a message being sent. Code against the Telesign status or error codes from the `status.code` property in the response payload, rather than the HTTP status code of the response.\n \n | Status Code | Text String | Description |\n |-------------|-------------|-------------|\n | 3001     | Message in progress  | Telesign successfully received this message request and is processing it. (Intermediate)|\n \n \n \n "
          content:
            application/json:
              schema:
                type: object
                properties:
                  reference_id:
                    type: string
                    example: 35C8B5D509BC10689196FED2AD551B8A
                    description: A unique, 32-digit hex value randomly generated by Telesign to identify this request.
                  status:
                    type: object
                    description: Contains properties related to the request status.
                    required:
                    - code
                    - description
                    properties:
                      code:
                        type: integer
                        example: 3001
                        description: 'This code describes the status of your transaction. You can use this code to programmatically respond. This can be either a status code or an error code. '
                      description:
                        type: string
                        example: Message in progress
                        description: A text description of the status code.
                  external_id:
                    type: string
                    example: MKT432538
                    description: Your own identifier, used to refer to this transaction. If you did not supply an external ID in your request, the value of this response property is `null`.
                    default: MKT432538
                required:
                - reference_id
                - status
                - external_id
              examples:
                response:
                  value:
                    reference_id: 35C8B5D509BC10689196FED2AD551B8A
                    status:
                      code: 3001
                      description: Message in progress
                    external_id: MKT432538
        '400':
          description: "**Bad request.** The request could not be understood by the server due to malformed syntax. Code against the Telesign status or error codes from the `status.code` property in the response payload, rather than the HTTP status code of the response.\n\n | Status Code | Text String | Description |\n |-------------|------------------------|--|\n |3102|Invalid value for parameter message_type: {message_type}|The value of parameter `message_type` is not one of the supported values: `ARN`, `MKT`, `OTP`. (Final)|\n |3103|Unsupported value for parameter external_id: {external_id}|The value of parameter `external_id` is longer than 100 or contains non-ASCII characters. (Final)|\n |3104|Invalid value for parameter account_lifecycle_event: {account_lifecycle_event}|The value of parameter `account_lifecycle_event` is not one of the supported values: `create`, `sign-in`, `transact`, `update`, `delete`. (Final)|\n |3105|Invalid value for parameter originating_ip: {originating_ip}|Parameter originating_ip is improperly formatted. (Final)|\n |  3106 |Invalid value for parameter callback_url: {callback_url}|The value of parameter `callback_url` is empty. (Final)|\n |  3110  |Invalid request|The API request or its JSON payload is improperly formatted. (Final)|\n |  3113  |Invalid value for parameter channel: {channels}|The value of the parameter `channels` contains the same `channel` more than once or is improperly formatted. (Final)|\n  |  3116  |Payload limit size exceeded|Allowed payload size is limited to 10KB |\n |  3300  |Missing parameter channels|The API request does not contain mandatory parameter `channels`. (Final)|\n |  3301  |Missing parameter channel|The value of the parameter `channels` does not contain any instances of the mandatory sub-property `channel`. (Final)|\n |  3302  |Missing parameter phone_number|The API request does not contain the mandatory parameter `phone_number`. (Final)|\n |  3303  |Missing parameter message|The  API request does not contain the mandatory parameter `message`. (Final)|\n |  3304  |Missing parameter message_type|The API request does not contain the mandatory parameter `message_type`. (Final)|"
          content:
            application/json:
              schema:
                type: object
                properties:
                  reference_id:
                    type: string
                    example: 35C8B5D509BC10689196FED2AD551B8A
                    description: A unique, 32-digit hex value randomly generated by Telesign to identify this request.
                  status:
                    type: object
                    description: Contains properties related to the request status.
                    required:
                    - code
                    - description
                    properties:
                      code:
                        type: integer
                        example: 3001
                        description: "This code describes the status of your transaction. You can use this code to programmatically respond. This can be either a status code or an error code. \n"
                      description:
                        type: string
                        example: Message in progress
                        description: 'A text description of the status code.

                          '
                  external_id:
                    type: string
                    example: MKT432538
                    description: Your own identifier, used to refer to this transaction. If you did not supply an external ID in your request, the value of this response property is `null`.
                    default: 'null'
                required:
                - reference_id
                - status
                - external_id
              examples:
                response:
                  value:
                    reference_id: 35C8B5D509BC10689196FED2AD551B8A
                    status:
                      code: 3102
                      description: 'Invalid value for parameter message_type: {message_type}'
                    external_id: MKT432538
        '401':
          description: "**Unauthorized.** The request requires user authentication. Code against the Telesign status or error codes from the `status.code` property in the response payload, rather than the HTTP status code of the response.\n\n | Status Code | Text String | Description|\n |-------------|------------------------|--|\n | 3400       | Not authorized |No permissions for this resource or authorization failed. (Final)|"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    description: Contains properties related to the request status.
                    required:
                    - code
                    - description
                    properties:
                      code:
                        type: integer
                        example: 3400
                        description: "This code describes the status of your transaction. You can use this code to programmatically respond. This can be either a status code or an error code. \n"
                      description:
                        type: string
                        example: Not authorized
                        description: A text description of the status code.
                  external_id:
                    type:
                    - string
                    - 'null'
                    example: MKT432538
                    description: Your own identifier, used to refer to this transaction. If you did not supply an external ID in your request, the value of this response property is `null`.
                    default: null
                required:
                - status
                - external_id
              examples:
                response:
                  value:
                    status:
                      code: 3400
                      description: Not authorized
                    external_id: MKT432538
        '413':
          description: Request entity too large. Allowed payload size is limited to 10KB.
        '429':
          description: "**Too many requests.** The user sent too many requests in a given amount of time. Code against the Telesign status or error codes from the `status.code` property in the response payload, rather than the HTTP status code of the response.\n\n | Status code | Text string | Description |\n |-------------|-------------|-------------|\n | 3203 |Callback URL parameter not enabled for Customer ID|Using `callback_url` in the API request is not allowed for this customer. (Final)|\n | 3204 |Rate limit exceeded|Allowed number of requests per second to the Telesign Messaging API has been exceeded. (Final)|\n | 3206\t|Omnichnnel Product not enabled for Customer ID|Telesign Messaging is not enabled for this customer. (Final)|"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    description: Contains properties related to the request status.
                    required:
                    - code
                    - description
                    properties:
                      code:
                        type: integer
                        example: 3400
                        description: "This code describes the status of your transaction. You can use this code to programmatically respond. This can be either a status code or an error code. \n"
                      description:
                        type: string
                        example: Not authorized
                        description: A text description of the status code.
                  external_id:
                    type: string
                    example: MKT432538
                    description: Your own identifier, used to refer to this transaction. If you did not supply an external ID in your request, the value of this response property is `null`.
                    default: 'null'
                required:
                - status
                - external_id
              examples:
                response:
                  value:
                    status:
                      code: 3203
                      description: Callback URL parameter not enabled for Customer ID
                    external_id: MKT432538
        '503':
          description: "**Service unavailable.** The system is unavailable, try again. Code against the Telesign status or error codes from the `status.code` property in the response payload, rather than the HTTP status code of the response.\n\n | Status Code | Text String | Description|\n |-------------|------------------------|--|\n | 3500 |System Unavailable|The system is currently unavailable. The request should be resubmitted. (Final)|"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    description: Contains properties related to the request status.
                    required:
                    - code
                    - description
                    properties:
                      code:
                        type: integer
                        example: 3400
                        description: "This code describes the status of your transaction. You can use this code to programmatically respond. This can be either a status code or an error code. \n"
                      description:
                        type: string
                        example: Not authorized
                        description: A text description of the status code.
                  external_id:
                    type: string
                    example: MKT432538
                    description: Your own identifier, used to refer to this transaction. If you did not supply an external ID in your request, the value of this response property is `null`.
                    default: 'null'
                required:
                - status
                - external_id
              examples:
                response:
                  value:
                    status:
                      code: 3500
                      description: System Unavailable
                    external_id: MKT432538
      description: 'Use this action to send a message with advanced features through your specified channel (optionally with cascading backup channels) to a recipient phone number or email address.


        To add this product to your account, contact a Telesign expert. This product is available for full-service accounts only.


        ## General requirements

        * **Authentication:** Basic (easiest to implement) or Digest

        * **Encoding:** Accepts only **UTF-8 unicode** characters as inputs.

        * **Accepts:** `application/json`

        * **Responds with:** `application/json`

        * **Rate limit:** Default rate limits by product'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                channels:
                  type: array
                  description: All the potential channels you want the service to be able to try and details on how to use those channels. If the first channel attempted fails, you have specified a fallback channel, and the fallback timeout has elapsed, the service looks to the next channel object here for details on what to do.
                  items:
                    $ref: '#/components/schemas/OmniReqChannelObj'
                recipient:
                  $ref: '#/components/schemas/OmniReqRecipient'
                message:
                  type: object
                  description: Contains properties specifying to the service how to construct the message for each channel. There should be one object in here for each channel, plus a default object with configuration to be applied if none of the specified channels can be used.
                  properties:
                    rcs:
                      $ref: '#/components/schemas/OmniReqDetailsForRCS'
                    whatsapp:
                      $ref: '#/components/schemas/OmniReqDetailsForWA'
                    viber:
                      $ref: '#/components/schemas/OmniReqDetailsForViber'
                    mms:
                      $ref: '#/components/schemas/OmniReqDetailsForMMS'
                    sms:
                      $ref: '#/components/schemas/OmniReqDetailsForSMS'
                    email:
                      $ref: '#/components/schemas/OmniReqDetailsForEmail'
                    default:
                      $ref: '#/components/schemas/OmniReqDetailsForDefault'
                message_type:
                  type: string
                  enum:
                  - ARN
                  - MKT
                  - OTP
                  example: ARN
                  description: The purpose for which the message is being sent. Choose from `OTP` - one-time passwords, `ARN` - alerts, reminders, and notifications, or `MKT` - marketing messages.
                external_id:
                  type: string
                  description: Your own identifier, used to refer to this transaction.
                  maxLength: 100
                  example: MKT432538
                callback_url:
                  type: string
                  description: Your URL that you want Telesign to send callbacks to for this transaction. Overrides any previously set callback URL for your account.
                  example: https://acme.co/mkt_omni_callbacks
                account_lifecycle_event:
                  type: string
                  description: "The phase of the customer life-cycle the end user is in when this transaction is sent. Choices include: \n* `create` - Create a new account. \n* `sign-in` - End user signs-in to their account. \n* `transact` - End user completes a transaction. \n* `update` - End user updates contact details or other info related to their account. \n* `delete` - Delete an account. \n"
                  enum:
                  - create
                  - sign-in
                  - transact
                  - update
                  - delete
                sender_id:
                  type: string
                  example: '15558675310'
                  description: Specifies the  [sender ID](https://support.telesign.com/s/article/What-is-a-Sender-ID) to be displayed to the end user on the generated message. Before using this, give any sender IDs you might want to use to our Customer Support Team, so we can add them to our allow list. If the sender ID in this field is not on this list, it is not used. We do not guarantee that the sender ID you specify will be used; Telesign may override this value to improve delivery quality or to follow the regulations of particular countries.
                originating_ip:
                  type: string
                  description: "The IP address of the end user the message is sent to. Must be in the format defined by the Internet Engineering Task Force (IETF). \n"
                  example: 160.199.219.47
                phone_number:
                  type: string
                  example: '15558675309'
                  deprecated: true
                  description: The end user's phone number you want to send this message to, as digits without spaces or special characters, beginning with the country dialing code. If the `recipient` parameter is not included in this request, this parameter is required.
              required:
              - channels
              - message
              - message_type
        x-examples:
          application/json:
            channels:
            - channel: rcs
              fallback_time: 600
            - channel: whatsapp
              fallback_time: 600
            - channel: sms
            phone_number: '15558675309'
            message:
              rcs:
                template: url_action
                parameters:
                  text: All purchases today are 20% off!
                  url_text: See all deals here.
                  url_id: mktUrl1
                  url: https://acme.co/summer_deals
              default:
                template: text
                parameters:
                  text: All purchases today are 20% off!
            message_type: MKT
            external_id: MKT432538
            callback_URL: https://acme.co/mkt_omni_callbacks
            sender_id: '15558675310'
            originating_ip: 160.199.219.47
      summary: Send a message with advanced features
      operationId: sendAdvancedMessage
      parameters:
      - schema:
          type: string
        in: header
        name: Content-Type - application/json
      tags:
      - Messaging
  /capability/{channel}/{phone_number}:
    parameters:
    - schema:
        type: string
      name: phone_number
      in: path
      required: true
      description: The phone number that the service should check for capability to use the specified channel.
    - schema:
        type: string
        enum:
        - rcs
      name: channel
      in: path
      required: true
      description: The service checks the phone number for capability to use this channel.
    get:
      summary: Check channel-capability of a phone number
      tags:
      - Messaging
      responses:
        '200':
          $ref: '#/components/responses/SharedMsgCapCheck200Res'
        '400':
          $ref: '#/components/responses/SharedMsgCapCheck400Res'
        '401':
          $ref: '#/components/responses/SharedMsgCapCheck401Res'
        '429':
          $ref: '#/components/responses/SharedMsgCapCheck429Res'
        '503':
          $ref: '#/components/responses/SharedMsgCapCheck503Res'
      operationId: checkPhoneNumberChannelCapability
      description: 'Use this action to check capability of a phone number to use the specified channel.


        To enable this feature for your account, contact our Customer Support Team.


        ## General requirements

        * **Authentication:** Basic (easiest to implement) or Digest

        * **Encoding:** Accepts only **UTF-8 unicode** characters as inputs.

        * **Responds with:** `application/json`

        * **Rate limit:** Default rate limits by product'
  /capability/rcs/{phone_number}/{agent_id}:
    parameters:
    - schema:
        type: string
      name: phone_number
      in: path
      required: true
      description: The phone number that the service should check for capability to receive messages from the specified RBM agent.
    - schema:
        type: string
        maxLength: 20
        example: my_rbm_id
      name: agent_id
      in: path
      required: true
      description: Narrows the check to the phone number's capability to use the RBM agent specified by this unique identifier.
    get:
      summary: Check capability of a phone number for an RBM agent
      tags:
      - Messaging
      responses:
        '200':
          $ref: '#/components/responses/SharedMsgCapCheck200Res'
        '400':
          $ref: '#/components/responses/SharedMsgCapCheck400Res'
        '401':
          $ref: '#/components/responses/SharedMsgCapCheck401Res'
        '429':
          $ref: '#/components/responses/SharedMsgCapCheck429Res'
        '503':
          $ref: '#/components/responses/SharedMsgCapCheck503Res'
      operationId: checkPhoneNumberRBMCapability
      description: 'Use this action to check capability of a phone number to receive messages from the specified RBM agent.


        To enable this feature for your account, contact our Customer Support Team.


        ## General requirements

        * **Authentication:** Basic (easiest to implement) or Digest

        * **Encoding:** Accepts only **UTF-8 unicode** characters as inputs.

        * **Responds with:** `application/json`

        * **Rate limit:** Default rate limits by product'
  /v1/omnichannel/{reference_id}:
    parameters:
    - schema:
        type: string
      name: reference_id
      in: path
      required: true
      description: A unique identifier you can use to query Messaging to find out the status of your transaction.
    get:
      summary: Get transaction status
      tags:
      - Messaging
      responses:
        '200':
          description: '**Success.** Your request was fulfilled and resulted in a new resource being created. If you want to code against a response, you should retrieve the status or error code and use that rather than the HTTP status response.


            | Status Code | Associated Text String | Description                                      |

            |-------------|------------------------|--------------------------------------------------|

            | 3002 | Delivered to Gateway | The message is in the process of delivery. Once all delivery options are exhausted, the status will be updated. (Intermediate) |

            | 3000 | Delivered | The message was delivered to the end user. (Final if the last channel used doesn''t support Read status. Intermediate otherwise) |

            | 3003 | Delivery error | The message could not be delivered to the end-user. (Final) |

            | 3005 | Message is read | The message has been read by the end user. (Final) |

            | 3006 | None of the channels is enabled for the customer | None of the channels specified in the request is enabled for the customer or has valid value. (Final) |'
          content:
            application/json:
              schema:
                type: object
                properties:
                  reference_id:
                    type: string
                    description: A unique, 32-digit hex value randomly generated by Telesign to identify this request.
                    example: 0123456789ABCDEF0123456789ABCDEF
                  external_id:
                    type: string
                    description: Your own identifier, used to refer to this transaction. If you did not supply an external ID in your request, the value of this response property is `null`.
                    example: 7c8832a1-ab0c-4f12-89f3-0bfbfb7f9645
                  status:
                    allOf:
                    - $ref: '#/components/schemas/SlimStatus'
                    - type: object
                      properties:
                        last_channel:
                          type: string
                          description: The name of the channel, or the last channel from `channel_status` array.
                          example: sms
                        updated_on:
                          type: string
                          description: A timestamp showing when your transaction status was updated last.
                          example: 2020-05-04 22:07:01:226
                      required:
                      - last_channel
                      - updated_on
                    description: Contains details about the request status.
                  additional_info:
                    type: object
                    description: Contains properties about mobile country code and the mobile network code associated with the mobile device.
                    properties:
                      price:
                        type: string
                        description: 'The cost incurred for sending the message. For the `sms` channel, this field is present if “Send customer price” (SMS feature) and “Report Enrichment Enabled” (Messaging feature) are enabled for your account. For other channels, this field is present if “Send Price in DLR” (Channel feature) and “Report Enrichment Enabled” (Messaging feature) are enabled for your account. '
                        example: '0.0050'
                      currency:
                        type: string
                        example: USD
                        description: The currency in which the price is expressed (e.g., 'USD'). This field is present if the 'Report Enrichment Enabled' feature is active on your account.
                      mcc:
                        type: string
                        description: Returns the mobile country code (MCC) for the current carrier associated with the mobile device if this feature is enabled for Messaging. The MCC is used in conjunction with the mobile network code (MNC) to uniquely identify a carrier.
                        example: '310'
                      mnc:
                        type: string
                        description: Returns the mobile network code (MNC) value(s) for the current carrier associated with the device if this feature is enabled for Messaging. The MNC is used in conjunction with the mobile country code (MCC) to uniquely identify a carrier.
                        example: '012'
                  verify:
                    type: object
                    description: Contains properties about the status of the verification attempt by the end user (if any). Only returned in the get transaction status response when an OTP code is auto-generated by Telesign.
                    properties:
                      code_state:
                        type: string
                        example: VALID
                        description: 'Indicates whether the verification code you provided in your request matches that sent by Telesign to the end user. Possible values are:

                          * `VALID` - The codes match. The offered code is valid. Used for get transaction status by reference ID and OTP code.

                          * `INVALID` - The codes do not match and the offered code is not valid. Used for get transaction status by reference ID and OTP code.

                          * `UNKNOWN` - Any other state. Used for get transaction status by reference ID.'
                      code_entered:
                        type: string
                        description: 'When an OTP code is auto-generated by Telesign (eg. get transactio status by reference ID and OTP code), If the end user entered a code, what they entered is provided here. When get transaction status by reference ID is used, `null` is returned instead. '
                        example: '9321041'
                    required:
                    - code_state
                    - code_entered
                  channel_status:
                    type: array
                    description: Contains details about the status of each channel specified for sending OTP codes.
                    items:
                      type: object
                      properties:
                        viber:
                          type: object
                          description: Contains details about the status of the viber channel if specified for sending OTP codes.
                          properties:
                            code:
                              type: integer
                              description: The status code that pertains to the channel.
                              example: 3000
                            description:
                              type: string
                              description: The description for the channel's status code.
                              example: Delivered
                            reference_id:
                              type: string
                              description: A unique, randomly generated hex value that identifies your web service request. In case of channel status code 3001, reference_id will not be returned.
                              example: 0123456789ABCDEF0123456789ABCDEF
                            updated_on:
                              type: string
                              description: The timestamp indicating when the transaction status is logged.
                              example: 2020-05-04 22:07:01:226
                          required:
                          - code
                          - description
                          - updated_on
                        whatsapp:
                          type: object
                          description: Contains details about the status of the whatsapp channel if specified for sending OTP codes.
                          properties:
                            code:
                              type: integer
                              description: The status code that pertains to the channel.
                              example: 3000
                            description:
                              type: string
                              description: The description for the channel's status code.
                              example: Delivered
                            reference_id:
                              type: string
                              description: A unique, randomly generated hex value that identifies your web service request. In case of channel status code 3001, reference_id will not be returned.
                              example: 0123456789ABCDEF0123456789ABCDEF
                            updated_on:
                              type: string
                              description: The timestamp indicating when the transaction status is logged.
                              example: 2020-05-04 22:07:01:226
                          required:
                          - code
                          - description
                          - updated_on
                        rcs:
                          type: object
                          description: Contains details about the status of the rcs channel if specified for sending OTP codes.
                          properties:
                            code:
                              type: integer
                              description: The status code that pertains to the channel.
                              example: 3000
                            description:
                              type: string
                              description: The description for the channel's status code.
                              example: Delivered
                            reference_id:
                              type: string
                              description: A unique, randomly generated hex value that identifies your web service request. In case of channel status code 3001, reference_id will not be returned.
                              example: 0123456789ABCDEF0123456789ABCDEF
                            updated_on:
                              type: string
                              description: The timestamp indicating when the transaction status is logged.
                              example: 2020-05-04 22:07:01:226
                          required:
                          - code
                          - description
                          - updated_on
                        sms:
                          type: object
                          description: Contains details about the status of the sms channel if specified for sending OTP codes.
                          properties:
                            code:
                              type: integer
                              description: The status code that pertains to the channel.
                              example: 3000
                            description:
                              type: string
                              description: The description for the channel's status code.
                              example: Delivered
                            reference_id:
                              type: string
                              description: A unique, randomly generated hex value that identifies your web service request. In case of channel status code 3001, reference_id will not be returned.
                              example: 0123456789ABCDEF0123456789ABCDEF
                            updated_on:
                              type: string
                              description: The timestamp indicating when the transaction status is logged.
                              example: 2020-05-04 22:07:01:226
                          required:
                          - code
                          - description
                          - updated_on
                        email:
                          type: object
                          description: Contains details about the status of the email channel if specified for sending OTP codes.
                          properties:
                            code:
                              type: integer
                              description: The status code that pertains to the channel.
                              example: 3000
                            description:
                              type: string
                              description: The description for the channel's status code.
                              example: Delivered
                            reference_id:
                              type: string
                              description: A unique, randomly generated hex value that identifies your web service request. In case of channel status code 3001, reference_id will not be returned.
                              example: 0123456789ABCDEF0123456789ABCDEF
                            updated_on:
                              type: string
                              description: The timestamp indicating when the transaction status is logged.
                              example: 2020-05-04 22:07:01:226
                          required:
                          - code
                          - description
                          - updated_on
                required:
                - reference_id
                - additional_info
                - channel_status
              examples:
                By reference ID with auto-generated OTP:
                  value:
                    status:
                      updated_on: '2024-11-12T13:08:37.000000Z'
                      code: 3000
                      description: Delivered
                      last_channel: whatsapp
                    reference_id: 364C81F5F3D0020C91E7A731DE93A777
                    currency: USD
                    price: '0.0050'
                    additional_info:
                      mcc: '310'
                      mnc: '012'
                    channel_status:
                    - viber:
                        code: 3112
                        description: Specified template does not exist for selected channel
                        reference_id: 364C81F5F40C0120923096EEAF73053E
                        updated_on: '2024-11-12T13:08:35.212526Z'
                    - whatsapp:
                        code: 3000
                        description: Delivered
                        reference_id: 364C81F5F46402189211BDE408330A86
                        updated_on: '2024-11-12T13:08:37.000000Z'
                    verify:
                      code_entered: '50361'
                      code_state: VALID
                By reference ID and OTP code with auto-generated OTP:
                  value:
                    status:
                      updated_on: '2024-11-12T13:08:37.000000Z'
                      code: 3000
                      description: Delivered
                      last_channel: whatsapp
                    reference_id: 364C81F5F3D0020C91E7A731DE93A777
                    currency: USD
                    price: '0.0050'
                    additional_info:
                      mcc: '310'
                      mnc: '012'
                    channel_status:
                    - viber:
                        code: 3112
                        description: Specified template does not exist for selected channel
                        reference_id: 364C81F5F40C0120923096EEAF73053E
                        updated_on: '2024-11-12T13:08:35.212526Z'
                    - whatsapp:
                        code: 3000
                        description: Delivered
                        reference_id: 364C81F5F46402189211BDE408330A86
                        updated_on: '2024-11-12T13:08:37.000000Z'
                    verify:
                      code_entered: '50361'
                      code_state: VALID
                By reference ID when OTP is not auto-generated:
                  value:
                    status:
                      updated_on: '2024-11-12T13:12:29.551105Z'
                      code: 3000
                      description: Delivered
                      last_channel: viber
                    reference_id: 364C82042F68010C91E2B8633BE34860
                    currency: USD
                    price: '0.0050'
                    additional_info:
                      mcc: '310'
                      mnc: '012'
                    channel_status:
                    - rcs:
                        code: 3112
                        description: Specified template does not exist for selected channel
                        reference_id: 364C82042FB0020C91F68825B573C43D
                        updated_on: '2024-11-12T13:12:28.000000Z'
                    - viber:
                        code: 3000
                        description: Delivered
                        reference_id: 364C820430640120923096E4E213053F
                        updated_on: '2024-11-12T13:12:29.551105Z'
        '400':
          description: '**Bad request.** The request could not be understood by the server due to malformed syntax. If you want to code against a response, you should retrieve the status or error code and use that rather than the HTTP status response.


            | Status Code | Associated Text String | Description                                      |

            |--------|----------------------------------|---------------------------------|

            | 3311   | Invalid value for parameter reference_id | Invalid value entered as `reference_id`. (Final) |'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/MsgGetStatusRes'
              examples:
                Invalid value for reference_id:
                  value:
                    status:
                      code: 3311
                      description: Invalid value for parameter reference_id
        '401':
          description: "**Unauthorized.** The request requires user authentication. If you want to code against a response, you should retrieve the status or error code and use that rather than the HTTP status response.\n\n| Status Code | Associated Text String | Description                                      |\n|--------|----------------------------------|---------------------------------|\n| 3206   | Omnichannel Product not enabled for Customer ID | The get transaction status feature is not enabled. (Final) |\n| 3400  | Not authorized | No permissions for this resource or the authorization failed. (Final) |Unauthorized |\n| 3411 | Invalid API Key. | Invalid API Key.| \n| 3412 | Required 'Authorization' header is not in the correct format | Required 'Authorization' header is not in the correct format |"
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/MsgGetStatusRes'
              examples:
                Invalid API Key:
                  value:
                    status:
                      code: 3411
                      description: Invalid API Key.
        '404':
          description: '**Not Found.** The server has not found anything matching the Request-URI. If you want to code against a response, you should retrieve the status or error code and use that rather than the HTTP status response.


            | Status Code | Associated Text String | Description                                      |

            |--------|----------------------------------|---------------------------------|

            | -10004 | ReferenceID expired. | Returned when get transaction status is invoked for a reference ID that was processed more than 12 hours ago. |'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/MsgGetStatusRes'
              examples:
                Reference ID expired:
                  value:
                    status:
                      code: -10004
                      description: ReferenceID expired.
        '429':
          description: '**Too Many Requests.** The user sent too many requests in a given amount of time. If you want to code against a response, you should retrieve the status or error code and use that rather than the HTTP status response.


            | Status Code | Associated Text String | Description                          |

            |--------|----------------------------------|---------------------------------|

            | 3204   | Rate limit exceeded | Rate limit exceeded. |'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/MsgGetStatusRes'
              examples:
                Rate limit exceeded:
                  value:
                    status:
                      code: 3204
                      description: Rate limit exceeded
        '503':
          description: '**Service Unavailable.** The system is unavailable, try again. If you want to code against a response, you should retrieve the status or error code and use that rather than the HTTP status response.


            | Status Code | Associated Text String | Description                                      |

            |--------|----------------------------------|---------------------------------|

            | 3041 | System unavailable | The system is unavailable, try again later. |'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/MsgGetStatusRes'
              examples:
                System unavailable:
                  value:
                    status:
                      code: 3041
                      description: System unavailable
      operationId: getMessagingStatus
      description: 'Get delivery status and other details for a Telesign Messaging transaction that you have created. Get transaction status can be used for all Messaging API transactions. Also use this endpoint to complete verification, if Telesign generated your code.


        To enable this feature for your account, contact our Customer Support Team.


        ## General requirements

        * **Authentication:** Basic (easiest to implement) or Digest

        * **Encoding:** Accepts only **UTF-8 unicode** characters as inputs.

        * **Responds with:** `application/json`

        * **Rate limit:** Default rate limits by product'
      parameters:
      - schema:
          type: string
          example: '57244'
        in: query
        description: 'If Telesign generated the code sent to your end user, include the asserted verification code from your end user here. '
        name: verify_code
components:
  schemas:
    OmniReqChannelObj:
      type: object
      description: Specifies a potential channel to use when sending this message, and any other details related to use of that channel.
      title: OmniReqChannelObj
      properties:
        channel:
          type: string
          description: A potential channel you want the service to use for sending this message. The order in which channels are tried depends on the order they are defined in the request. For example, if you specify `rcs` and then `sms`, the service tries RCS and then attempts to use SMS as a fallback if the RCS message fails.
          enum:
          - rcs
          - whatsapp
          - sms
          - mms
          - viber
          - email
        fallback_time:
          type: integer
          description: The duration of time (in seconds) that the service should wait before it concludes that the message has failed on this channel and attempts to send on the backup channel if one is provided.
          default: 300
          example: 600
          minimum: 30
          maximum: 3600
      required:
      - channel
    OmniReqDetailsForEmail:
      title: OmniReqDetailsForEmail
      type: object
      description: Contains properties specifying to the service how to construct the message for this channel.
      properties:
        template:
          type: string
          maxLength: 64
          description: The name of the custom template to use for this message.
          example: your-custom-template-name
        parameters:
          type: object
          description: Contains sub-properties with values for variables in the message template. Which sub-properties to include here depends on what is defined in your custom template.
    OmniReqDetailsForRCS:
      type: object
      title: OmniReqDetailsForRCS
      description: Contains properties specifying to the service how to construct the message for this channel.
      properties:
        template:
          type: string
          description: The name of the template to use for this message.
          example: url_action
        parameters:
          type: object
          description: Contains sub-properties with values for variables in the message template. Which sub-properties to include here depends on which template you have selected.
          properties:
            text:
              type: string
              description: The main text of your message. <br/>**Required for:** `text`,`dial_action`,`url_action`,`2_suggested_replies`, `3_suggested_replies` templates.
              example: All purchases today are 20% off!
            button_text_1:
              type: string
              description: The text of the first suggested reply. <br/>**Required for:** `2_suggested_replies`, `3_suggested_replies` templates.
              example: 'Yes'
            button_payload_1:
              type: string
              description: Unique identifier for the first reply. <br/>**Required for:** `2_suggested_replies`, `3_suggested_replies` templates.
              example: r1id
            button_text_2:
              type: string
              description: The text of the second suggested reply. <br/>**Required for:** `2_suggested_replies`, `3_suggested_replies` templates.
              example: 'No'
            button_payload_2:
              type: string
              description: Unique identifier for the second reply. <br/>**Required for:** `2_suggested_replies`, `3_suggested_replies` templates.
              example: r2id
            button_text_3:
              type: string
              description: The text of the third suggested reply. <br/>**Required for:** `3_suggested_replies` template.
              example: Not sure
            button_payload_3:
              type: string
              description: Unique identifier for the third reply. <br/>**Required for:** `3_suggested_replies` template.
              example: r3id
            url_text:
              type: string
              description: Text for the link in the message. <br/>**Required for:** `url_action`, `rc_url_action_vertical`, `rc_url_action_horizontal` templates.
              example: See all deals here.
            url_payload:
              type: string
              description: Unique identifier for the link in the message. <br/>**Required for:** `url_action`, `rc_url_action_vertical`, `rc_url_action_horizontal` templates.
              example: mktUrl1
            url:
              type: string
              description: "Depending on the template being used, this is either the URL for the link in the message or the URL for a media file or file attachment to embed in the message. <br/>**Required for:** \n`media`, `url_action`, `rc_url_action_vertical`, `rc_url_action_horizontal`, `file`"
              example: https://acme.co/summer_deals
            dial_text:
              type: string
              description: Text on the click-to-call button. <br/>**Required for:** `dial_action`, `rc_dial_action_vertical`, `rc_dial_action_horizontal` templates.
              example: Call agent
            phone_number_to_dial:
              type: string
              description: The complete phone number to call when the button is selected. Include `+` at the beginning of international numbers. <br/>**Required for:** `dial_action`, `rc_dial_action_vertical`, `rc_dial_action_horizontal` templates.
              example: '+15555551212'
            dial_payload:
              type: string
              description: Unique identifier for the click-to-call phone number in the message. <br/>**Required for:** `dial_action`, `rc_dial_action_vertical`, `rc_dial_action_horizontal` templates.
              example: dial_id
            media_url:
              type: string
              description: 'The URL reference for the image to include in the rich card in your message.  <br/>

                **Required for:** `rc_url_action_vertical`, `rc_dial_action_vertical`, `rc_url_action_horizontal`, `rc_dial_action_horizontal` templates.'
              example: https://s3.amazonaws.com/acmeco-content/group_photo.jpg
            latitude:
              type: string
              example: '37.423021'
              description: "The latitude coordinate of your location as a positive or negative number.<br/>**Required for:** \n`location`"
            longitude:
              type: string
              example: '-122.083739'
              description: "The longitude coordinate of your location as a positive or negative number.<br/>**Required for:** \n`location`"
    OmniReqDetailsForWA:
      type: object
      title: OmniReqDetailsForWA
      description: Contains properties specifying to the service how to construct the message for this channel.
      properties:
        template:
          type: string
          description: The name of the template to use for this message.
          example: url_action
        parameters:
          type: object
          description: Contains sub-properties with values for variables in the message template. Which sub-properties to include here depends on which template you have selected.
          properties:
            text:
              type: string
              example: All purchases today are 20% off!
              description: The main text of your message. <br/>**Required for:** `text`
            header_url:
              type: string
              example: https://acme.co/summer_deals.png
              description: "The source URL for a media file or file attachment to embed in the message. <br/>**Required for:** \n`image`, `video`, `audio`, `file`"
            file_name:
              type: string
              example: Instruction for payment.pdf
              description: "The display name of the file on end-user device. If you do not include a value for this parameter, the service uses a default value of \"file\". <br/>**Required for:** \n`file`"
            latitude:
              type: string
              example: '37.423021'
              description: "The latitude coordinate of your location (number only).<br/>**Required for:** \n`location`"
            longitude:
              type: string
              example: '-122.083739'
              description: "The longitude coordinate of your location (number only).<br/>**Required for:** \n`location`"
    OmniReqDetailsForMMS:
      type: object
      title: OmniReqDetailsForMMS
      description: Contains properties specifying to the service how to construct the message for this channel.
      properties:
        template:
          type: string
          description: The name of the template to use for this message.
          example: image
        parameters:
          type: object
          description: Contains sub-properties with values for variables in the message template. Which sub-properties to include here depends on which template you have selected.
          properties:
            url:
              type: string
              description: "The source URL for a media file to embed in the message. <br/>**Required for:** \n`image`, `video`, `audio`"
              example: https://acme.co/summer_deals.png
    MsgGetStatusRes:
      title: MsgGetStatusRes
      allOf:
      - properties:
          status:
            type: object
            properties:
              code:
                type: integer
                description: Corresponding status code in case of failure.
              description:
                type: string
                description: Corresponding status description in case of failure.
            required:
            - code
            - description
      type: object
    OmniReqDetailsForDefault:
      type: object
      title: OmniReqDetailsForDefault
      description: Contains properties specifying to the service how to construct the message for any channel where the equivalent details under `message` are not provided for it.
      properties:
        template:
          type: string
          description: The name of the template to use for this message.
          example: text
        parameters:
          type: object
          description: Contains sub-properties with values for variables in the message template. Which sub-properties to include here depends on which template you have selected.
          properties:
            text:
              type: string
              description: The main text of your message. <br/>**Required for:** `text`,`dial_action`,`url_action`,`2_suggested_replies`, `3_suggested_replies` templates.
              example: All purchases today are 20% off!
    OmniReqDetailsForSMS:
      type: object
      title: OmniReqDetailsForSMS
      description: Contains properties specifying to the service how to construct the message for this channel.
      properties:
        template:
          type: string
          description: The name of the template to use for this message.
          example: text
        parameters:
          type: object
          description: Contains sub-properties with values for variables in the message template. Which sub-properties to include here depends on which template you have selected.
          properties:
            text:
              type: string
              description: The main text of your message. <br/>**Required for:** `text`,`dial_action`,`url_action`,`2_suggested_replies`, `3_suggested_replies` templates.
              example: All purchases today are 20% off!
    OmniReqRecipient:
      title: OmniReqRecipient
      type: object
      description: Contains properties specifying the contact information needed to communicate with a recipient for a particular channel. At least one sub-property must be included. If the `phone_number` parameter is not included in this request, this parameter is required.
      properties:
        phone_number:
          type: string
          description: The recipient's phone number, as digits without spaces or special characters, beginning with the country dialing code. **Required if RCS, SMS, WA, Viber, or MMS is selected as the channel.**
          example: '11234567890'
        email:
          type: string
          description: The recipient's email address. **Required if email is selected as the channel.**
          example: jsmith@vero-finto.com
    SharedResponseSlim:
      title: SharedResponseSlim
      type: object
      properties:
        reference_id:
          type: string
          example: 0123456789ABCDEF0123456789ABCDEF
          description: A unique, randomly generated hex value that identifies your web service request.
        status:
          $ref: '#/components/schemas/SlimStatus'
      required:
      - reference_id
      - status
    OmniReqDetailsForViber:
      type: object
      title: OmniReqDetailsForViber
      description: Contains properties specifying to the service how to construct the message for this channel.
      properties:
        template:
          type: string
          description: The name of the template to use for this message.
          enum:
          - text
          - text_session
          - image
          - image_session
          - video
          - text_video
          - url_action_video
          - url_action
          - otp_verify
        parameters:
          type: object
          description: Contains sub-properties with values for variables in the message template. Which sub-properties to include here depends on which template you have selected.
          properties:
            text:
              type: string
              example: All purchases today are 20% off!
              description: The main text of your message. <br/>**Required for:** `text`, `text_session`, `url_action`,  `text_video` and `url_action_video`.
            url:
              type: string
              example: https://vero-finto/summer_deals.png
              description: "Depending on the template being used, this is the URL for the link in the message or the URL where you are hosting an image or video file in the message.<br/>**Required for:** \n`image`, `image_session`, `url_action`, `video`, `text_video`, and `url_action_video`."
            url_id:
              type: string
              description: Unique identifier for the link in the message. **Required for:** `url_action`
              example: mktUrl1
            url_text:
              type: string
              example: Learn more about our deals here.
              description: Text for the link button in the message. <br/>**Required for:** `url_action`
            open_url:
              type: string
              description: 'The URL end users are directed to or the action performed when pressing the action button. '
              example: https://example.com/vero-finto/video_placeholder_name.jpg
            url_thumbnail:
              type: string
              description: A static image that acts as the preview image for the video. <br/>**Required for:** `text_video`.
              example: https://vero-finto-test.com
            otp_code:
              type: string
              description: The OTP code of your verified template message. <br/>**Required for:** `otp_verify`
              example: '12345'
            language:
              type: string
              example: en
              description: ISO 639-1 two-letter language code. For more details, see [Messaging - Send Viber verification message](/enterprise/docs/messaging-send-viber-verification-message). If not specified, the default value will be English language. <br/>**Optional for:** `otp_verify`
            reply_id:
              type: string
              description: This is sent back to the provider when a message sent to a end user is answered. The end user’s reply is linked to the tracking data value that is set in the request.
              example: nxjs634!
            button_text:
              type: string
              description: 'The text that appears on the action button. '
              example: Click here for video
    SlimStatus:
      title: SlimStatus
      type: object
      properties:
        code:
          type: integer
          description: A numeric code that indicates the status of your transaction.
          example: 290
        description:
          type: string
          description: Text describing the status of your transaction.
          example: Message in progress
      required:
      - code
      - description
  responses:
    SharedMsgCapCheck401Res:
      description: '**Unauthorized.** The request requires user authentication. Code against the Telesign status or error codes from the `status.code` property in the response payload, rather than the HTTP status code of the response.


        Status code | Text string | Description

        --|--|--

        3210|Capability Check not enabled for Customer ID|This feature (Capability Check) is not enabled for this Customer ID. (Final)'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/SharedResponseSlim'
            - type: object
              properties:
                status:
                  type: object
                  properties:
                    code:
                      type: integer
                      example: 3210
                    description:
                      type: string
                      example: Capability Check not enabled for Customer ID
          examples:
            Example:
              value:
                reference_id: 0123456789ABCDEF0123456789ABCDEF
                status:
                  code: 3210
                  description: Capability Check not enabled for Customer ID
    SharedMsgCapCheck503Res:
      description: '**Service unavailable.** The system is unavailable, try again. Code against the Telesign status or error codes from the `status.code` property in the response payload, rather than the HTTP status code of the response.


        Status code | Text string | Description

        --|--|--

        3041|Carrier rejected - temporary problem|The channel provider failed to respond. The request should be resubmitted.

        3500 | System Unavailable | The system is currently unavailable. The request should be resubmitted. (Final)'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/SharedResponseSlim'
            - type: object
              properties:
                status:
                  type: object
                  properties:
                    code:
                      type: integer
                      example: 3041
                    description:
                      type: string
                      example: Carrier rejected - temporary problem
          examples:
            Example:
              value:
                reference_id: 0123456789ABCDEF0123456789ABCDEF
                status:
                  code: 3041
                  description: Carrier rejected - temporary problem
    SharedMsgCapCheck400Res:
      description: '**Bad request.** The request could not be understood by the server due to malformed syntax. Code against the Telesign status or error codes from the `status.code` property in the response payload, rather than the HTTP status code of the response.


        Status code | Text string | Description

        --|--|--

        3109|Invalid value for parameter sender_id: {sender_id}|The value of the sender_id parameter in your request is invalid.

        3110|Invalid request|This API request was not properly formatted. (Final)'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/SharedResponseSlim'
            - type: object
              properties:
                status:
                  type: object
                  properties:
                    code:
                      type: integer
                      example: 3110
                    description:
                      type: string
                      example: Invalid request
          examples:
            Example:
              value:
                reference_id: 0123456789ABCDEF0123456789ABCDEF
                status:
                  code: 3110
                  description: Invalid request
    SharedMsgCapCheck429Res:
      description: '**Too many requests.** Too many requests sent to this API in a given amount of time. Code against the Telesign status or error codes from the `status.code` property in the response payload, rather than the HTTP status code of the response.


        Status code | Text string | Description

        --|--|--

        3204|Rate limit exceeded|Allowed number of requests per second on the Telesign Messaging API has been exceeded. (Final)

        '
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/SharedResponseSlim'
            - type: object
              properties:
                status:
                  type: object
                  properties:
                    code:
                      type: integer
                      example: 3204
                    description:
                      type: string
                      example: Rate limit exceeded
          examples:
            Example:
              value:
                reference_id: 0123456789ABCDEF0123456789ABCDEF
                status:
                  code: 3204
                  description: Rate limit exceeded
    SharedMsgCapCheck200Res:
      description: '**Success.** The service successfully processed this request. Code against the Telesign `status.code` property in the response payload, rather than the HTTP status code of the response.


        Status code | Text string | Description

        --|--|--

        3055|Delivery channel not supported by the end user''s device|The device associated with this phone number cannot use the selected channel.

        3060|Delivery channel supported by the end user''s device|The device associated with this phone number can use the selected channel.

        3115|Destination phone number not in coverage|The device associated with this phone number can use the selected channel, but it is not in coverage for Telesign Messaging.'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/SharedResponseSlim'
            - type: object
              properties:
                status:
                  type: object
                  properties:
                    code:
                      type: integer
                      example: 3060
                    description:
                      type: string
                      example: Delivery channel supported by the end user's device
          examples:
            Example:
              value:
                reference_id: 0123456789ABCDEF0123456789ABCDEF
                status:
                  code: 3060
                  description: Delivery channel supported by the end user's device
  securitySchemes:
    Basic:
      type: http
      description: Easiest to implement. See [Basic Authentication](/enterprise/docs/authentication#basic-authentication) for more details.
      scheme: basic
    Digest:
      type: apiKey
      name: Authorization
      in: header
      description: See [Digest Authentication](/enterprise/docs/authentication#basic-authentication) for more details.
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
