{"openapi":"3.0.0","x-stoplight":{"docs":{"showModels":false},"id":"3a28b99e5b681"},"info":{"title":"Deactivated Numbers API","version":"1.0","description":"**Encoding:** Accepts only UTF-8 encoded unicode characters as inputs.\n\nThe Deactivated Numbers API can be used to get lists of deactivated numbers. These can be used to ensure you don't send SMS messages to these numbers using our SMS and SMS Verify products.\n\n\n\n","contact":{"name":"Telesign Customer Support Team","email":"support@telesign.com"}},"paths":{"/files":{"get":{"responses":{"200":{"description":"**Success.** Your request was fulfilled and a list of file names was retrieved.\n\nCode | Meaning\n--|--\n2200|Request successfully completed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeactResFileList"},"examples":{"response":{"value":{"list_of_files":["att-deacts_20210719.zip","verizon-deacts_20210719.zip"],"code":2200,"description":"Request successfully completed"}}}}}},"401":{"description":"**Unauthorized.** The request requires user authentication. Customer ID and/or API Key were not provided or were not valid.\n\nCode | Meaning\n--|--\n2201|Unauthorized access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorObject"},"examples":{"response":{"value":{"code":2201,"description":"Unauthorized access"}}}}}},"403":{"description":"**Forbidden.** This user does not have access to this resource.\n\nCode | Meaning\n--|--\n2203|Request forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorObject"},"examples":{"response":{"value":{"code":2203,"description":"Request forbidden"}}}}}},"500":{"description":"**Internal server error.** There was a problem on our side. Try again later.\n\nCode | Meaning\n--|--\n2250|Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorObject"},"examples":{"response":{"value":{"code":2250,"description":"Internal Server Error"}}}}}}},"summary":"Get file list","description":"Use this action to get a list of files accessible for you to download that contain deactivated phone numbers.\n\n## General requirements\n* **Authentication:** [Basic](/enterprise/docs/authentication#basic-authentication) (easiest to implement) or [Digest](/enterprise/docs/authentication#digest-authentication)\n* **Encoding:** Accepts only **UTF-8 unicode** characters as inputs.\n* **Responds with:** `application/json`\n* **Rate limit:** [Default rate limits by product](https://support.telesign.com/s/article/do-you-have-any-rate-limits)","tags":["Deactivated Numbers"],"operationId":"getDeactNumFileList"}},"/download/{file_name}":{"get":{"responses":{"200":{"description":"**Success.** Your request was fulfilled and a file was retrieved. Note that no response JSON object is returned in the payload, only the contents of the file itself.","content":{"application/octet-stream":{"schema":{}}}},"401":{"description":"**Unauthorized.** The request requires user authentication. Customer ID and/or API Key were not provided or were not valid.\n\nCode | Meaning\n--|--\n2201|Unauthorized access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorObject"},"examples":{"response":{"value":{"code":2201,"description":"Unauthorized access"}}}}}},"403":{"description":"**Forbidden.** This user does not have access to this resource.\n\nCode | Meaning\n--|--\n2203|Request forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorObject"},"examples":{"response":{"value":{"code":2203,"description":"Request forbidden"}}}}}},"404":{"description":"**File not found.** The file was not available to retrieve.\n\nCode | Meaning\n--|--\n2204|Download failed, the file you are trying to download doesn't exist or may have been deleted.\n","content":{"application/octet-stream":{"schema":{"$ref":"#/components/schemas/errorObject"},"examples":{}},"application/json":{"examples":{"response":{"value":{"code":2204,"description":"Download failed, the file you are trying to download doesn't exist or may have been deleted."}}}}}},"500":{"description":"**Internal server error.** There was a problem on our side. Try again later.\n\nCode | Meaning\n--|--\n2250|Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/errorObject"},"examples":{"response":{"value":{"code":2250,"description":"Internal Server Error"}}}}}}},"parameters":[{"in":"path","name":"file_name","required":true,"description":"The filename of the deactivated numbers file you want to download.","schema":{"type":"string"}}],"description":"Use this action to download one specified file that contains deactivated phone numbers.\n\n## General requirements\n* **Authentication:** [Basic](/enterprise/docs/authentication#basic-authentication) (easiest to implement) or [Digest](/enterprise/docs/authentication#digest-authentication)\n* **Encoding:** Accepts only **UTF-8 unicode** characters as inputs.\n* **Responds with:** `application/json` or `application/octet-stream`\n* **Rate limit:** [Default rate limits by product](https://support.telesign.com/s/article/do-you-have-any-rate-limits)","summary":"Get file","tags":["Deactivated Numbers"],"operationId":"getDeactNumFile"},"parameters":[{"name":"file_name","in":"path","required":true,"schema":{"type":"string"}}]}},"security":[{"Basic":[]},{"Digest":[]},{"UserSecurity":[]}],"servers":[{"url":"https://deact-api.telesign.com"}],"components":{"responses":{},"securitySchemes":{"UserSecurity":{"type":"http","scheme":"basic"},"Basic":{"type":"http","description":"Easiest to implement. See [Basic Authentication](/api-reference/authentication#basic-authentication) for more details.","scheme":"basic"},"Digest":{"type":"apiKey","name":"Authorization","in":"header","description":"See [Digest Authentication](/api-reference/authentication#digest-authentication) for more details."}},"schemas":{"DeactResFileList":{"type":"object","title":"DeactResFileList","description":"","properties":{"list_of_files":{"type":"array","description":"Each element in this array is the name of a compressed file containing deactivated numbers. Use these filenames with the `/download/{file_name}` endpoint to download the available files as needed.","example":["att-deacts_20210719.zip"],"items":{"type":"string"}},"code":{"type":"integer","description":"A numeric code indicating the status of processing this request.","example":2200},"description":{"type":"string","description":"A text description of processing status of this request.","example":"Request successfully completed"}}},"errorObject":{"type":"object","title":"errorObject","description":"Contains properties related to an error that occurred during processing of the request.","properties":{"code":{"type":"integer","description":"A numeric code specifying which error occurred.","example":-10001},"description":{"type":"string","description":"Text describing the error that occurred.","example":"Invalid Request: PhoneNumber Parameter"}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true,"samples-enabled":true},"tags":[{"name":"Deactivated Numbers"}]}